<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="strCoonOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.6.27)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=traffic;Password=redant3322;Pooling=true;Min Pool Size=1;Max Pool Size=255;"/>
    <add name="conn_new" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.6.48)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=MyPatForm;Password=MyPatForm;Pooling=true;Min Pool Size=1;Max Pool Size=255;"/>
  </connectionStrings>
</configuration>