<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="conn_new" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.6.48)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=MyPatForm;Password=MyPatForm;Pooling=true;Min Pool Size=1;Max Pool Size=255;"/>
  </connectionStrings>
</configuration>